
.container {
    font-family: 'Bree Serif', serif;
  font-size: 40px;
  border-style: double;

}
.jumbotron {
    background-image: url("../images/header-img.jpg");
    background-size: 100%;
    background-position: top;
    font-family: 'Lobster', cursive;
  font-size: 100px;
}

body {
    text-align: center;
    background-color: black;
    color: white;
  font-size: 50px;
  background-image: url("../images/mitch.jpg");
  background-size: 70%;
  background-position: center;
}

img {
	width: 400px;
	height: auto;
}

.btn { 
  color: #ffffff; 
  background-color: #B8A351; 
  border-color: #FFFFFF; 
  height: 100px;
  width: 250px;
  font-size: 75px
  
} 
h2{
    font-family: 'Bree Serif', serif;
    font-size: 200%;
    border-style: dashed
} 

h3  {
    font-family: 'Bree Serif', serif;

}


#choice-box-1 {
    color: white;
    font-family: 'Bree Serif', serif;
  font-size: 50px;

}
#choice-box-2 {
    color: white;
    font-family: 'Bree Serif', serif;
  font-size: 50px;

    
}
#choice-box-3 {
    color: white;
    font-family: 'Bree Serif', serif;
  font-size: 50px;
    
}
#choice-box-4 {
    color: white;
    font-family: 'Bree Serif', serif;
  font-size: 50px;
  border-style: groove;
    
}
.buttonbox1 {
    font-family: 'Bree Serif', serif;
  font-size: 30px;
}

.buttonbox2 {
  font-family: 'Lobster', cursive;
  font-size: 30px;
}
.buttonbox3 {
  font-family: 'Lobster', cursive;
  font-size: 30px;
}
.buttonbox4 {
  font-family: 'Lobster', cursive;
  font-size: 30px;
}
#question-box   {
    font-family: 'Bree Serif', serif;
    border-style: groove;
    color: gold;
    text-shadow: 2px 2px black;

}
#answer-box {
    color: goldenrod; 
    font-size: 150%;
    font-weight: bolder;
    text-shadow: 2px 3px black;
    

}
#correct-box   {
    font-family: 'Bree Serif', serif;
    border-style: groove;
    color: gold;
    text-shadow: 2px 2px black;

}
#incorrect-box   {
    font-family: 'Bree Serif', serif;
    border-style: groove;
    color: gold;
    text-shadow: 2px 2px black;

}
#unanswered-box   {
    font-family: 'Bree Serif', serif;
    border-style: groove;
    color: gold;

}
#restart-box   {
    font-family: 'Bree Serif', serif;
    border-style: groove;
    color: orangered;
    margin-left: 50%;
    font-size: 50%;
    text-shadow: 2px 2px black;

}